<div class="row align-items-stretch ml-3">
  @for (item of filterCategory; track item) {
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12 mb-4">
      @if (!item.productType) {
        <div class="card bg-dark text-white h-90" (mouseenter)="item.showButton = true" (mouseleave)="item.showButton = false">
          <img [src]="item.image" alt="Imagen del producto" class="card-img img-fluid">
          <div class="card-img-overlay d-flex flex-column justify-content-between">
            <div class="d-flex justify-content-center">
              @if (item.showButton) {
                <button class="btn btn-primary pricingTable-signup" (click)="addtocart(item)">Añadir</button>
              }
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
